#know-more-button {
  min-height: 57px;
  width: 100%;
  max-width: 315px;
  background-color: #F08726;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  font-family: Poppins;
  cursor: pointer;
  border: 0;
  margin-top: 24px;
}

#know-more-button:hover {
  background-color: #c96101;
}

#second-section {
  background: linear-gradient(246.26deg, #181818 -33.86%, #000000 106.52%);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.benefits .benefit:last-child {
  margin-right: 0;
}

.benefit {
  background: #131313;
  border-radius: 16px;
  margin-right: 60px;
}

.benefit-img {
  width: 100%;
  height: 169px;
  border-radius: 16px;
  background-image: url(https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
}

.benefit p {
  margin: 24px 16px;
  font-size: 18px;
}

#how-to-use-section {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#how-to-use-section p {
  max-width: 592px;
  font-size: 24px;
}

#screen-2 {
  position: absolute;
  height: 80%;
  right: 0;
}

#como-utilizar {
  width: 100%;
  height: 100%;
}

footer {
  padding-top: 44px;
  background: linear-gradient(180.36deg, #000000 -20.87%, #1F1F1F 275.58%);
}

footer .section-container {
  padding-bottom: 100px;
}

#footer-logo {
  color: white;
  display: flex;
  font-weight: 800;
  font-size: 26px;
  align-items: center;
}

#footer-logo img {
  margin-right: 20px;
}

#footer-options {
  margin-top: 35px;
  display: flex;
}

.footer-option {
  display: flex;
  flex-direction: column;
}

.footer-option span {
  font-weight: 600;
  font-size: 18px;
  color: #F08726;
}

.footer-option a {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.footer-option:first-child {
  margin-right: 150px;
}

#footer-download-buttons {
  position: absolute;
  bottom: 32px;
  right: 0;
  display: flex;
  align-items: center;
}

#footer-download-buttons img {
  width: 151px;
}

#footer-download-buttons img:first-child {
  margin-right: 16px;
}

@media screen and (max-width: 728px) {
  #texts-container {
    align-items: center;
  }

  .benefits {
    flex-direction: column;
    margin-bottom: 0;
  }

  .benefits .benefit {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #screen-2 {
    display: none;
  }

  #texts-container p {
    font-size: 20px;
  }

  #footer-options {
    flex-direction: column;
  }

  .footer-option {
    margin-bottom: 32px;
    margin-right: 0 !important;
  }

  .download-buttons {
    margin-bottom: 42px;
  }

  #footer-download-buttons {
    display: none;
  }
}